body {
    font-family: Arial, sans-serif;
    background-color: #071821;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: right;
}

h1 {
    color: #333;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 15px 20px;
    margin: 20px 30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #6e9785;
    color: #fff;
    size: 100px;
}

button:hover {
    background-color: #165839;
}