@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --facebook: #3b5998;
}

body {
  background-image: url(../img/배경.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrap-all {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-size: 2.5vw;
  -webkit-text-stroke: 2px black;
  display: flex;
  user-select: none;
}
.check_icon {
  color: yellow;
  margin-right: 1vw;
}
.title p {
  color: white;
  margin-bottom: 20px;
}

.play-time {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
  color: red;
}

ul {
  margin-top: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li {
  width: 100px;
  height: 100px;
  cursor: grab;
  background: url(../img/hexagon.jpg);
}

.start-button {
  padding: 0 30px;
  margin-top: 9rem;

  font-family: "Jersey 10", sans-serif;
  font-size: 50px;
  font-weight: normal;

  text-align: center;
  color: white;
  text-decoration: none;

  cursor: pointer;
  border-radius: 20px;
  background-color: #6e9785;
}

.game-text {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  background: none;
  border: none;
  color: rgb(255, 234, 0);
  text-shadow: 2px 3px rgba(12, 12, 12, 0.5);
  display: none;
  cursor: pointer;
}

.list0 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.list1 {
  background-position-x: -100px;
  background-position-y: 0px;
}

.list2 {
  background-position-x: -200px;
  background-position-y: 0px;
}

.list3 {
  background-position-x: 0px;
  background-position-y: -100px;
}

.list4 {
  background-position-x: -100px;
  background-position-y: -100px;
}

.list5 {
  background-position-x: -200px;
  background-position-y: -100px;
}

.list6 {
  background-position-x: 0px;
  background-position-y: -200px;
}

.list7 {
  background-position-x: -100px;
  background-position-y: -200px;
}

.list8 {
  background-position-x: -200px;
  background-position-y: -200px;
}
