@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  background-image: url("https://ifh.cc/g/rO0xhm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  height: 300px;
  margin-top: 200px;
  padding: 50px;

  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 96px;
  font-weight: bold;

  text-align: center;
  -webkit-text-stroke: 1px black;
  color: white;

  cursor: help;
}

.btn {
  display: block;
  width: 500px;
  height: 130px;
  margin: auto;

  font-family: "Jersey 10", sans-serif;
  font-size: 100px;
  font-weight: normal;

  text-align: center;
  color: white;
  text-decoration: none;

  cursor: pointer;

  border-radius: 20px;
  background-color: #165839;

  animation-name: fadeIn;
  animation-duration: 0.4s;
}

button:link {
  color: white;
}

button:hover {
  color: yellow;
}
