* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

.btn {
  color: aliceblue;
  font-size: 100px;
}  

body {
  background-image: url(../img/배경.png);
  background-position: center;
  background-size: cover;
}

.container {
  text-align: center;
  color: white;
}

.header {
  margin-top: 30px;

  color: white;
  -webkit-text-stroke: 3px black;
  width: 100vw;
  text-align: center;
  margin: 50px 0;
  font-size: 60px;
}

.main {
  max-width: 3000px;
  height: 100%;
  margin: 0 auto;
}

ul {
  padding: 0;
  height: 100vh;
}

ul > li > a {
  ext-decoration: none;
  margin: 10px;
  height: 100vh;
  

  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 50px;
}

    ul > li > a .title {
      position: relative;
      overflow: hidden;
      
      
    }

    ul > li > a .title .bottom {
      position: absolute;
      
    }

    ul > li > a:hover .bottom {
      top: 60%;
      left: 25%;
      
    }

